<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-y-5">
        <p class="m-0">
          HR Managements crafted with &#9829; by me.
          <a href="/" target="_blank" class="text-primary-500">Ritesh Kumar</a>
        </p>
      </div>
      <div class="col-auto">
        <ul class="list-inline footer-link m-b-0">
          <li class="list-inline-item"><a [routerLink]="['/']">Home</a></li>
          <li class="list-inline-item"><a href="https://github.com/riteshkrdev/hr-managements" target="_blank">Documentation</a></li>
          <li class="list-inline-item">
            <a href="https://github.com/riteshkrdev" target="_blank"> Support </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
